@import 'bootstrap/scss/mixins';

@mixin logo($size) {
	a.logo {
		display: block;
		background: url(/images/logo.svg);
		width: $size;
		height: $size;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: $size;
		@content;
	}

	a.logo:hover {
		opacity:0.9;
	}
}

@mixin media($name) {
	@include media-breakpoint-only($name) {
		@content;
	};
}

@mixin media-up($name) {
	@include media-breakpoint-up($name) {
		@content;
	};
}

@mixin media-down($name) {
	@include media-breakpoint-down($name) {
		@content;
	};
}

@mixin placeholder() {
	&::-webkit-input-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}
