input,
textarea {
	outline: none;
}

.row.card {
	margin: 0 0 20px 0;

	.close {
		position: absolute;
		top: 5px;
		right: 5px;
	}
}

.form-group {
	&.row {
		margin-left: 0;
		margin-right: 0;

		[class^='col'] {
			margin-top: 1rem;
			margin-bottom: 1rem;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&.required {
		label:after {
			color: $color-danger;
			content: "*";
			position: absolute;
			margin-left: 6px;
		}
	}

	span.has-error {
		color: $color-danger;
		font-size: 13px;
		display: block !important;
	}

	span.has-warning {
		color: $color-warning;
		font-size: 13px;
		display: block !important;
	}

	span.has-success {
		color: $color-success;
		font-size: 13px;
		display: block !important;
	}
}

.form-control {
	&:focus {
		border: 1px solid $color-primary;
	}

	@include placeholder() {
		font-style: italic;
		color: $color-divider;
	}
}

.radio,
.checkbox {
	display: none;

	& + span {
		padding: 0;
		padding-right: 10px;
	}

	& + span:before {
		font-family: FontAwesome;
		font-size: 21px;
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 10px;
		color: $color-divider;
		border-width: 1px;
	}

	&:checked + span:before {
		color: $color-primary;
	}

	&:disabled + span:before {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&:checked:disabled  + span:before {
		color: #fff;
	}
}

.checkbox {
	& + span:before {
		content: "\f0c8";
	}

	&:checked + span:before {
		content: "\f14a";
	}

	&.rounded {
		& + span:before {
			content: "\f111";
		}

		&:checked + span:before {
			content: "\f058";
		}
	}
}

.radio {
	& + span:before {
		content: "\f111";
	}

	&:checked + span:before {
		content: "\f192";
	}

	&.squared {
		& + span:before {
			content: "\f0c8";
		}

		&:checked + span:before {
			content: "\f14a";
		}
	}
}
