.sidebar {
	background-color: $bar-color-primary;
	width: $sidebar-width;
	padding-bottom: 60px;
	position: fixed;
	top: 32px;
	left: 0;
	bottom: 0;
	transition: left 0.3s ease;
	z-index: 20;

	@include media-down(md) {
		position: fixed;
		left: -$sidebar-width;
	}

	.sidebar-fixed & {
		position: fixed;
	}

	&.open {
		left: 0;
	}

	.sidebar-container {
		position: absolute;
		top: 12px;
		bottom: 51px;
		width: 100%;
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;

		&::-webkit-scrollbar-track {
			background-color: darken($bar-color-primary, 6.5%);
		}
	}

	.nav {
		font-size: 14px;

		li {
			a {
				color: $bar-color-text;
				text-decoration: none;
				padding: 15px 10px 15px 20px;
			}

			a:hover {
				color: $bar-color-text-active;
				background-color: $bar-color-secondary;
			}

			&.active > a, &.active > a:hover {
				background-color: $color-primary !important;
				color: $color-inverse !important;
				position: relative;
			}

			& > a {
				i {
					margin-right: 5px;
					font-size: 16px;
				}
			}
		}
	}
}

[class^='nav'],
[class*=' nav'] {
	li > a {
		display: block;

		&:before {
			display: none;
		}
	}
}
