.content {
  .breadcrumb {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
  }

  .box {
    padding: 1.5rem 1.5rem;

    h1, h2 {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }

  .page-header {
    display: flex;

    .page-title {
      overflow: hidden;
      flex-grow: 1;
    }
    .page-actions {
      flex-shrink: 0;

      .btn {
        margin-bottom: 0;
      }
    }
  }

  .segment {
    background-color: #ffffff;
  }

  table {
    th {
      border-top: 0;
    }
  }
}
