.content {
  .breadcrumb {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
  }

  .box {
    padding: 1.5rem 1.5rem;

    h1, h2 {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }

  .page-header {
    display: flex;

    .page-title {
      overflow: hidden;
      flex-grow: 1;
    }
    .page-actions {
      flex-shrink: 0;

      .btn {
        margin-bottom: 0;
      }
    }
  }

  .segment {
    background-color: #ffffff;
  }

  .panel {
    display: flex;

    .submenu {
      flex-shrink: 0;
      width: $submenu-width;
      padding: 20px 15px 20px 0;
      background-color: $color-bg-secondary;

      .nav {
    		li {
          a {
            padding: 7px 10px 7px 20px;
            border-radius: 0 .25rem .25rem 0;
    			  color: $color-text;
    		    text-decoration: none;
          }

          a:hover {
            text-decoration: underline;
          }

          &.active > a, &.active > a:hover {
            background-color: $color-text-light !important;
    				color: $color-inverse !important;
    				position: relative;
            text-decoration: none;
    			}
    		}
    	}
    }

    .segment {
      flex-grow: 1;
    }
  }

  table {
    th {
      border-top: 0;
    }

    td.action {
      a {
        padding: 0 20px 0 0;
      }
    }
  }
}
