.sidebar {
	background-color: $bar-color-primary;
	width: $sidebar-width;
	padding-bottom: 60px;
	position: fixed;
	top: 32px;
	left: 0;
	bottom: 0;
	transition: left 0.3s ease;
	z-index: 20;

	@include media-down(md) {
		position: fixed;
		left: -$sidebar-width;
	}

	.sidebar-fixed & {
		position: fixed;
	}

	&.open {
		left: 0;
	}

	.sidebar-container {
		position: absolute;
		top: 12px;
		bottom: 51px;
		width: 100%;
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;

		&::-webkit-scrollbar-track {
			background-color: darken($bar-color-primary, 6.5%);
		}
	}

	.nav {
		font-size: 14px;

		// Common styles
		li {
			a:focus,
			.open & a:focus {
				background-color: inherit;
			}
		}

		// Second + menu items
		ul {
			padding: 0;
			height: 0px;
			overflow: hidden;

			.loaded & {
				height: auto;
			}
		}

		li.active ul {
			height: auto;
		}

		li a {
			color: $bar-color-text;
			text-decoration: none;
		}

		li a:hover,
		li.open > a,
		li.open a:hover {
			color: $bar-color-text-active;
			background-color: $bar-color-secondary;
		}

		&> li {
			& > a {
				padding: 15px 10px 15px 20px;
			}

			&.active > a,
			&.active > a:hover {
				background-color: $color-primary !important;
				color: $color-inverse !important;
				position: relative;

				&:after {
					position: absolute;
					top: 50%;
					right: 0;
					height: 0;
					width: 0;
					margin-top: -8px;
					border: 8px solid transparent;
					border-right-color: $color-bg;
					content: " ";
					pointer-events: none;
				}
			}

			& > a {
				i {
					margin-right: 5px;
					font-size: 16px;
				}
			}
		}
	}
}

[class^='nav'],
[class*=' nav'] {
	li > a {
		display: block;

		&:before {
			display: none;
		}
	}
}
